header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #E6D5CE;
  position: fixed;
  top: 0;
  //transition: top 0.2s ease-in-out;
  z-index: 3;

    a{
      color : #A4A4A4;
      text-decoration: none;
      font-size: 18px;
      margin: 5px;
    }

    .title-container {

      h1 {
        margin: 7px 0 11px 0;
        font-size: 2.25em;
        .title {
          color: #A4A4A4;
          text-decoration: none;
          text-transform: uppercase;
          line-height: 1;
        }
      }
    }


}
